.header {
    position: relative;
    padding: 90px 0 60px;
    background: url(../img/header-bcg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color:  $bcg-dark;
    color: #fff;
}

.navbar-container {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 20px;
    height: 90px;
 &__brand-name {
   width: fit-content;
   margin: 0 60px 0 0;
}
&__nav-login-container {
    flex: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    @media (max-width: 768px) {
        display: none;
    }
        a {
            margin: 0 20px 0 0;
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: 0.2px;
            font-weight: 600;
            
        }

        button {
            padding: 15px 25px;
            background-color: $primary-blue;
            color: #fff;
            border: none;
            border-radius: 6px;
            font-weight: 700;
            img {
                width: 12px;
                margin: 0 0 0 2px;
            }
        }
    

}

&__nav-login-mobile {
    display: none;
    a {
        margin: 0 20px;
        display: flex;
        width: 24px;
        height: 24px;
        text-align: center;
        &:last-child {
            margin-right: 0;
            }
    }

    @media (max-width: 768px) {
        display: flex;
        

    }
}
}

.header-content {
    .flex {
        margin-bottom: 80px;
    }
    &__main {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 40px 0;
        @media (max-width:768px) {
            padding: 0;
        }    

        h1 {
            font-size: 5.8rem;
            line-height: 8rem;
            letter-spacing: 0.2px;
            text-align: center;
            font-weight: 800;
            margin: 0 0 40px 0;
            @media (max-width:768px) {
                
                font-size: 4.8rem;
                line-height: 6rem;
            }  
        }
        p {
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 0.2px;
            text-align: center;
            font-weight: 500;
            margin: 0 0 40px 0;
        }
        div {
            text-align: center;
            button { 
                padding: 15px 36px;
                background-color: inherit;
                color: #fff;
                border-radius: 30px;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 2.2rem;
                border: 1px solid #fff;
                margin: 0 5px 10px;

                &.active {
                    background-color: $primary-blue;
                    border-color: $primary-blue;
                }
            }
        }
    }
    &__blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
            
            div {
                background-color: white;
                width: 300px;
                height: 200px;
                margin: 0 auto 30px;
                padding: 35px 45px;
                img {
                    width: 50px;
                    height: 40px;
                    margin: 0 0 10px 0;
                }
                h3 {
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    letter-spacing: 0.1px;
                    font-weight: 700;
                    color: #000;
                    margin: 0 0 10px 0;
                }
                p {
                    color: $grey-text-color;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    letter-spacing: 0.2px;
                    font-weight: 500;
                }
            }
            @media (max-width: 1020px) {
                width: 100%;
            }
        }
    }
}

.header-padding {
    padding: 80px 0;
}