.reviews {
    background-color: $primary-blue-disabled;
}

.reviews-container {
    padding: 40px 0 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1035px;
    margin: 0 auto;
    
    &__avatar-container {
        width: 72px;
        height: 72px;
        position: absolute;
        left: -60px;
        top: 40px;
        @media (max-width: 1120px) {
            left: 300px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__item {
        position: relative;
        margin: 0 auto 30px;
        max-width: 450px;
        width: 450px;
        padding: 50px;
        background-color: white;
        h2 {
            font-size: 2.4rem;
            line-height: 3.2rem;
            letter-spacing: 0.1px;
            font-weight: 700;
        }
        span {
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: 0.2px;
            font-weight: 600;
            color: rgba(115, 115, 115, 1);
            margin: 0 0 15px 0;
            display: block;
        }
        p {
            font-size: 1.4rem;
            line-height: 2rem;
            letter-spacing: 0.2px;
            font-weight: 500;
            color: rgba(115, 115, 115, 1);
        }
    }
}